.tab-selection{
    display:flex;
    border:1px solid black;
    width:100%;
    justify-content:space-evenly;
}

.tab-selection > div {
    border:1px solid blue;
    width:100%;
    text-align:center;
}
/* 
.tab-container > div {
    width:400px;
    text-align:center;
    padding-top:50px;
} */